<link rel="stylesheet" href="/css/register.css">
<form id="registerform">
    <input type="text" name="name" placeholder="Name" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Register</button>

</form>
<p id="error" style="color:red"></p>
<script src="/js/register.js"></script>